<?xml version='1.0' encoding='utf-8'?>
<odoo>
        <data>
            <menuitem id="mark_presence_menu_act" name="Mark Presence"  sequence="10"/>
            <menuitem id="pointeuse_menu_act" name="pointeuse" action="pointeuse_action" parent="mark_presence_menu_act" sequence="10"/>
        </data>

</odoo>